
body {
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: #fff000;
    transition: background .5s;
}
body[data-char='ragirl'] {
    background: #ff7200;
}

/* world */
.world {
    /*
        일반적으로 스크롤이 되면 하단의 콘텐츠가 올라오지만
        여기서 구현하는 것은 콘텐츠는 그대로 그 공간에 남아 있으면서
        스크롤에 따라 요소들이 앞뒤로 움직이는 효과를 내기 위해 아래와 같이 설정
    */
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px; /* 원근감 설정(3차원 공간) */
}

.stage {
    position:absolute;
    left:0;
    top:0;
    width:100vw; /* 화면 뷰포트에 꽉 채움 */
    height:100vh; /* 화면 뷰포트에 꽉 채움 */
    /* IE11 까지 미지원 */
    transform-style:preserve-3d; /* perspective 의 자식 요소들이 3d 요소가 되도록 설정 */
    /* 여기서는 벽과 캐릭터들이 3d 요소가 되기 때문에 상위(.stage, .house)에서 벽,캐릭터 요소까지 preserve-3d를 적용해 주어야 한다. */
}

/* 벽들을 포함하고 있는 영역 */
.house {
    width:100vw;
    height:100vh;
    transform-style:preserve-3d;
    /* zoom-out 효과를 내기 위해 z축을 이용한다. */
    transform:translateZ(-490vw); /* 4.9배 */
}

/* 벽은 총 6개로 좌, 우, 가운데 벽 4개 */
/* 좌, 우의 벽은 매우 긴 폭을 가지고 있음 */
.wall {
    /* 공통 클래스인 wall 에 적용 (겹쳐져 있음) */
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(255, 255, 255, .8);
}
/* 정면 영역 요소에 텍스트를 중앙 정렬시키기 위해 설정 */
.wall-content {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.wall-title {
    font-size:5rem;
}

/* 왼쪽 벽 정의 */
.wall-left {
    /* 1. 벽을 늘림 */
    width:1000vw;
    /* 2. 회전시키기 전에 가운데에 요소를 이동시킴 */
    left:-500vw;
    /* 3. y축을 기준으로 회전시킴(면의 센터를 기준으로 회전) */
    transform:rotateY(90deg);/* 시계반대방향 */
    background:#f8f8f8;
}

/* 오른쪽 벽 정의 */
.wall-right {
    /* 1. 벽을 늘림 */
    width:1000vw;
    /*left:-500vw;*/ /* 1. 포개진 상태에서 */
    /*left:-400vw;*/ /* 본래 벽 너비가 100vw 로 설정되어 있으므로 100만큼 이동이시커나 */
    
    /* 3. 3d가 된 상태이므로 z축으로 본래 벽 너비만큼 100vw 이동시킴 */
    left:-500vw;
    transform:rotateY(90deg) translateZ(100vw); /* 시계반대방향 */
    background:#f8f8f8;
}

/* 또 다른 방법*/
/*
.wall-left {
    width:1000vw;
    transform:rotateY(90deg) translateZ(-500vw);
}
.wall-right {
    width:1000vw;
    transform:rotateY(90deg) translateZ(-400vw);
}
*/

/* house 기준(-490vw)으로 적절히 배치 */
.wall-front-a {transform:translateZ(300vw)} /* 양수는 앞으로 튀어 나와보임*/
.wall-front-b {transform:translateZ(50vw)}
.wall-front-c {transform:translateZ(-200vw)} /* 음수는 뒤로 들어가 보임*/
.wall-front-d {transform:translateZ(-500vw)}





/* 자바스크립트로 기능을 붙여가면서 css 를 업데이트 해보자 */


