/*
	# 작명 규칙
	# BEM (Block Element Modifier)
	1. __ => ~ 의 일부분이다라는 의미 (구조적인 일부분)
	.body__container (body 의 일부분인 container 라는 의미)

	2. -- => ~ 의 상태를 의미한다. (해당하는 요소의 상태)
	btn--success, btn--danger, btn--warning

	3. -(하이픈 하나인 경우) => 단순한 이름의 경우(하나의 통짜 이름인 경우에 사용)
	toggle-btn

	ps : 절대적인 방법은 아니지만 팀간의 소통을 위한 컨벤션으로 유용할 수 있다.
*/

a {
	text-decoration: none;
}
/* body 의 일부분인 container 라는 의미 */
.body__container {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

/* BTN */
.btn {
	display: flex;
	align-items: center;
	height: 34px;
	padding: 0 12px;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	line-height: 1.5;
	text-align: center;
	/* linear-gradient(DIRECTION, COLOR1, COLOR2, ...); */
	background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.btn:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .07);
}
.btn.btn--primary {
	border: 1px solid #65b836;
	color: #fff;
	background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT */
.input--text {
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline: none;
	box-sizing: border-box;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075); /* .75 아니고 .075 주의 */
}
.input--text:focus {
	border-color: #51a7e8 !important; /* header #search 선택자를 덮어쓰기 위해서 사용 */
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5);
}
/* Vendor prefix(브라우저 업체별 접두어) */
.input--text::-webkit-input-placeholder { color: #cacaca; }
.input--text:-ms-input-placeholder      { color: #cacaca; }
.input--text::-moz-placeholder          { color: #cacaca; }

/* HEADER */
header {
	border-bottom: 1px solid rgba(0, 0, 0, .75);
	box-shadow: 0 0 5px rgba(0, 0, 0, .75);
	background: #fff;
}
header .inner {max-width: 980px;height: 78px;margin: 0 auto;display: flex;justify-content: space-between;}

/* Menu group(Left) */
header .menu-group {display: flex;align-items: center;height: 100%;}
header .logo {margin-right: 10px;}
header .logo a {display: block;}
header .main-menu {display: flex;}
header .main-menu li a {padding: 10px;display: block;color: #3c4146;}
header .main-menu li a:hover {color: #4078c0;}

/* Sign group(Right) */
header .sign-group {display: flex;align-items: center;height: 100%;}
header .sub-menu {margin-right: 10px;display: flex;}
header .sub-menu li a {padding: 8px;color: #3c4146;font-size: 13px;display: block;}
header .sub-menu li a:hover {color: #4078c0;}
#search-form {margin-right: 12px;}
#search {width: 160px;font-size: 14px;}
header .btn-group {display: flex;}
header .btn-group .sign-in {margin-right: 4px;}

